BasedOnStyle: LLVM
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
IncludeBlocks: Regroup
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Left
SpacesInContainerLiterals: false
IndentWidth: 4
AccessModifierOffset: -4
#NamespaceIndentation: All